<!--共通テンプレート -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/pure-min.css">
    <link rel="stylesheet" href="/static/side-menu.css">
    <link rel="stylesheet" type="text/css" href="{{ staticfile('style.css') }}">

    <title>俳句SNS</title>
</head>

<body>
    <div id="layout" class="page">
        {% block header %}
        <!-- ここにヘッダーの内容-->
        {% endblock %}
        <div id="main">
            <div class="header">
                <h1>
                    {% block title %}
                    俳句SNS
                    {% endblock %}
                </h1>
            </div><!-- endo of .header-->

            <div class="content">
                {% block contents %}
                <!-- ここにコンテンツの内容-->
                {% endblock %}
            </div><!-- end of .content-->

            {% block footer %}
            <p class="footer"><a href="/" class="pure-buton">
                    トップページへ</a></p>
            {% endblock %}
        </div><!-- end of #main-->
    </div><!-- end of #layout-->

    {% block footer_script %}{% endblock %}
</body>

</html>
